<h3>Login:</h3>
<hr>

<div class="card">
	<div class="card-body">
		<form action="" method="post">
			<label for="email" class="pdt">E-mail:</label>
			<input type="email" name="email" class="form-control" required>
			<label for="senha" class="pdt">Senha:</label>
			<input type="password" name="senha" class="form-control" required>

			<button class="btn btn-success mt-2" type="submit">Entrar</button>
		</form>
	</div>
</div>

<small><a href="/usuarios/registro">Cadastre-se, caso não tenha conta!</a></small>