{{#each erros}}
	<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="row justify-content-sm-center h-100">
	<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
		<div class="card shadow mt-5">
			<div class="card-body p-5">
				<h1 class="fs-4 card-title fw-bold mb-4">Registre-se</h1>
			
				<form class="" method="post" class="needs-validation" novalidate="" autocomplete="on">
					<div class="mb-3">
						<label class="mb-2 text-muted" for="nome">Nome:</label>
						<input id="nome" type="text" name="nome" class="form-control" autofocus required>
						<div class="invalid-feedback">
							Nome inválido.
						</div>
					</div>

					<div class="mb-3">
						<label class="mb-2 text-muted" for="email">E-mail:</label>
						<input id="email" type="email" name="email" class="form-control" required onkeyup="checarEmail()" minlength="3">
						<div class="invalid-feedback">
							E-mail inválido.
						</div>
					</div>

					<div class="mb-3">
						<label class="mb-2 text-muted" for="senha">Senha:</label>
						<input type="password" id="senha" name="senha" class="form-control" required onkeyup="checarSenha()" minlength="5">
						<div class="invalid-feedback">
							Senha inválida.
						</div>
						<small id="avisoSenha"></small>
					</div>

					<div class="mb-3">
						<label class="mb-2 text-muted" for="senha2">Senha <small>(novamente)</small>:</label>
						<input type="password" id="senha2" name="senha2" class="form-control" required onkeyup="checarSenha()" minlength="5">
						<div class="invalid-feedback">
							Senha inválida.
						</div>
						<small id="avisoSenha"></small>
					</div>

					<p class="form-text text-muted mb-3">
						Ao se registrar, você concorda com os nossos <a href="#" class="text-decoration-none">Termos e Condições</a>.
					</p>
					
					<div class="align-items-center d-flex">
						<button type="submit" class="btn btn-primary ms-auto">Registre-se</button>
					</div>
				</form>
			</div>

			<div class="card-footer py-3 border-0">
				<div class="text-center">
					Já possui uma conta? <a href="/usuarios/login" class="text-dark text-decoration-underline">Faça login.</a>
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'body'}}
	<script type="text/javascript">
		let checarSenha = function() {
			const avisoSenha = document.getElementById('avisoSenha')

			if(document.getElementById('senha').value.length >= 5){
				if(document.getElementById('senha').value == document.getElementById('senha2').value) {
					avisoSenha.style.color = 'green'
					avisoSenha.innerText = 'Tudo certo!'
				} else {
					avisoSenha.style.color = 'red'
					avisoSenha.innerText = 'As senhas têm de bater!'
				}
			} else {
				avisoSenha.style.color = 'red'
				avisoSenha.innerText = 'A senha é muito pequena!'
			}
		}
	</script>
{{/section}}