<div class="d-flex justify-content-center align-items-center" id="main">
	<h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
	<div class="inline-block align-middle">
		<h2 class="font-weight-normal lead" id="desc">Esta página não foi encontrada. <a href="/">Retornar à homepage.</a></h2>
	</div>
</div>

<style>
	#main {
		height: 150px;
	}

	#desc {
		padding-left: 10px;
	}
</style>